@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  @apply prose-slate p-6 dark:prose-invert lg:prose-lg lg:p-12;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  @apply font-display font-semibold;
}

@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../../../public/Mona-Sans.var.woff2') format('woff2');
}

html,
body,
:root {
  @apply h-full text-base antialiased;
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../../../public/Mona-Sans.var.woff2') format('woff2');
}
