@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  @apply prose-slate dark:prose-invert lg:prose-lg;
}

@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../../../public/Mona-Sans.var.woff2') format('woff2');
}

html,
body,
:root {
  @apply h-full text-base antialiased;
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../../../public/Mona-Sans.var.woff2') format('woff2');
}

article {
  @apply prose-slate dark:prose-invert lg:prose-lg;
}
