{
  "openapi": "3.1.0",
  "info": {
    "title": "WunderGraph Application",
    "version": "0"
  },
  "servers": [
    {
      "url": "https://andvoila.wundergraph.dev/operations"
    }
  ],
  "paths": {
    "/createApiLimit": {
      "post": {
        "operationId": "CreateApiLimit",
        "x-wundergraph-operation-type": "mutation",
        "x-wundergraph-requires-authentication": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "userId",
                  "count"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prisma_createOneUserApiLimit": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    },
    "/createSubscription": {
      "post": {
        "operationId": "CreateSubscription",
        "x-wundergraph-operation-type": "mutation",
        "x-wundergraph-requires-authentication": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "stripeCustomerId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stripeSubscriptionId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stripePriceId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stripeCurrentPeriodEnd": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "userId"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prisma_createOneUserSubscription": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    },
    "/deleteApiLimit": {
      "post": {
        "operationId": "DeleteApiLimit",
        "x-wundergraph-operation-type": "mutation",
        "x-wundergraph-requires-authentication": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prisma_deleteOneUserApiLimit": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    },
    "/deleteSubscription": {
      "post": {
        "operationId": "DeleteSubscription",
        "x-wundergraph-operation-type": "mutation",
        "x-wundergraph-requires-authentication": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prisma_deleteOneUserSubscription": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    },
    "/getUserApiLimit": {
      "get": {
        "operationId": "GetUserApiLimit",
        "x-wundergraph-operation-type": "query",
        "x-wundergraph-requires-authentication": false,
        "parameters": [
          {
            "name": "userId",
            "description": "Type: string",
            "in": "query",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiLimit": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "count": {
                              "type": "integer"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id",
                            "userId",
                            "count",
                            "createdAt",
                            "updatedAt"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    },
    "/getUserSubscription": {
      "get": {
        "operationId": "GetUserSubscription",
        "x-wundergraph-operation-type": "query",
        "x-wundergraph-requires-authentication": false,
        "parameters": [
          {
            "name": "userId",
            "description": "Type: string",
            "in": "query",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "subscription": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "stripeCustomerId": {
                              "type": "string"
                            },
                            "stripeSubscriptionId": {
                              "type": "string"
                            },
                            "stripePriceId": {
                              "type": "string"
                            },
                            "stripeCurrentPeriodEnd": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id",
                            "userId"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    },
    "/updateApiLimit": {
      "post": {
        "operationId": "UpdateApiLimit",
        "x-wundergraph-operation-type": "mutation",
        "x-wundergraph-requires-authentication": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id",
                  "count"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prisma_updateOneUserApiLimit": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "count": {
                              "type": "integer"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id",
                            "count"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    },
    "/updateSubscription": {
      "post": {
        "operationId": "UpdateSubscription",
        "x-wundergraph-operation-type": "mutation",
        "x-wundergraph-requires-authentication": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "stripeCustomerId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stripeSubscriptionId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stripePriceId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stripeCurrentPeriodEnd": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prisma_updateOneUserSubscription": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "id"
                          ]
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InvalidInputError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "input": {},
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "propertyPath": {
                  "type": "string"
                },
                "invalidValue": {},
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "propertyPath",
                "invalidValue",
                "message"
              ]
            }
          }
        },
        "required": [
          "message",
          "input",
          "errors"
        ]
      }
    }
  }
}