# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug
pnpm-debug.log* # Specific to PNPM

# local env files
.env
.env.local
.env.production
.env.development

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
