@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../../../public/Mona-Sans.var.woff2') format('woff2');
}

html,
body,
:root {
  height: 100%;
}

/* And Voila Colors */
/* CSS HSL 
--slate-950: hsla(224, 71%, 4%, 1);
--slate-900: hsla(221, 40%, 8%, 1);
--slate-800: hsla(214, 28%, 16%, 1);
--slate-500: hsla(219, 9%, 44%, 1);
--slate-400: hsla(218, 11%, 65%, 1);
--slate-200 hsla(220, 13%, 91%, 1);
--slate-100: hsla(220, 14%, 96%, 1);
--slate-50: hsla(210, 20%, 98%, 1);
--white: hsla(0, 0%, 100%, 1);
--brand: hsla(238, 98%, 51%, 1)
*/

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222.2 84% 4.9%; /* 950 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 222.2 84% 4.9%; /* 950 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222.2 84% 4.9%; /* 950 */

    --primary: 238, 98%, 51%, 1; /* brand */
    --primary-foreground: 210 40% 98%; /* 50 */

    --secondary: 210 40% 96.1%; /* 100 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* 900 */

    --muted: 210 40% 96.1%; /* 100 */
    --muted-foreground: 215.4 16.3% 46.9%; /* 500 */

    --accent: 210 40% 96.1%; /* 100 */
    --accent-foreground: 222.2 47.4% 11.2%; /* 900 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%; /* 50 */

    --border: 214.3 31.8% 91.4%; /* 200 */
    --input: 214.3 31.8% 91.4%; /* 200 */

    --ring: 238, 98%, 51%, 1; /* brand */

    --radius: 0.5rem;

    --brand: 238, 98%, 51%, 1; /* brand */

    --sidebar: 229, 81%, 4%, 1;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* 950 */
    --foreground: 210 40% 98%; /* 50 */

    --card: 222.2 84% 4.9%; /* 950 */
    --card-foreground: 210 40% 98%; /* 50 */

    --popover: 222.2 84% 4.9%; /* 950 */
    --popover-foreground: 210 40% 98%; /* 50 */

    --primary: 238, 98%, 51%, 1; /* brand */
    --primary-foreground: 222.2 47.4% 11.2%; /* 900 */

    --secondary: 217.2 32.6% 17.5%; /* 800 */
    --secondary-foreground: 210 40% 98%; /* 50 */

    --muted: 217.2 32.6% 17.5%; /* 800 */
    --muted-foreground: 215 20.2% 65.1%; /* 400 */

    --accent: 217.2 32.6% 17.5%; /* 800 */
    --accent-foreground: 210 40% 98%; /* 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%; /* 50 */

    --border: 217.2 32.6% 17.5%; /* 800 */
    --input: 217.2 32.6% 17.5%; /* 800 */

    --ring: 238, 98%, 51%, 1; /* brand */

    --brand: 238, 98%, 51%, 1; /* brand */

    --sidebar: 229, 81%, 4%, 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
