@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../../../public/Mona-Sans.var.woff2') format('woff2');
}

html,
body,
:root {
  height: 100%;
}

/* And Voila Colors
--rich-black-950: hsla(240, 90%, 4%, 1);
--oxford-blue-900: hsla(214, 95%, 6%, 1);
--deep-blue-800: hsla(214, 94%, 8%, 1);
--slate-gray-500: hsla(225, 14%, 48%, 1);
--cadet-gray-400: hsla(224, 14%, 68%, 1);
--french-gray-200: hsla(220, 15%, 84%, 1);
--platinum-100: hsla(220, 15%, 88%, 1);
--antiflash-white-50: hsla(220, 14%, 96%, 1);
--white: hsla(0, 0%, 100%, 1);
--brabd: hsla(238, 98%, 51%, 1);
 */

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 240, 90%, 4%; /* 950 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 240, 90%, 4%; /* 950 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 240, 90%, 4%; /* 950 */

    --primary: 238, 98%, 51%; /* brand */
    --primary-foreground: 220, 14%, 96%; /* 50 */

    --secondary: 220, 15%, 88%; /* 100 */
    --secondary-foreground: 214, 95%, 6%; /* 900 */

    --muted: 220, 15%, 88%; /* 100 */
    --muted-foreground: 225, 14%, 48%; /* 500 */

    --accent: 220, 15%, 88%; /* 100 */
    --accent-foreground: 214, 95%, 6%; /* 900 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 220, 14%, 96%; /* 50 */

    --border: 220, 15%, 84%; /* 200 */
    --input: 220, 15%, 84%; /* 200 */

    --ring: 238, 98%, 51%; /* brand */

    --radius: 0.5rem;

    --brand: 238, 98%, 51%; /* brand */

    --sidebar: 220, 14%, 96%;
  }

  .dark {
    --background: 240, 90%, 4%; /* 950 */
    --foreground: 220, 14%, 96%; /* 50 */

    --card: 240, 90%, 4%; /* 950 */
    --card-foreground: 220, 14%, 96%; /* 50 */

    --popover: 240, 90%, 4%; /* 950 */
    --popover-foreground: 220, 14%, 96%; /* 50 */

    --primary: 238, 98%, 51%; /* brand */
    --primary-foreground: 214, 95%, 6%; /* 900 */

    --secondary: 214, 94%, 8%; /* 800 */
    --secondary-foreground: 220, 14%, 96%; /* 50 */

    --muted: 214, 94%, 8%; /* 800 */
    --muted-foreground: 224, 14%, 68%; /* 400 */

    --accent: 214, 94%, 8%; /* 800 */
    --accent-foreground: 220, 14%, 96%; /* 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220, 14%, 96%; /* 50 */

    --border: 214, 94%, 8%; /* 800 */
    --input: 214, 94%, 8%; /* 800 */

    --ring: 238, 98%, 51%; /* brand */

    --brand: 238, 98%, 51%; /* brand */

    --sidebar: 240, 90%, 2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
